@import './variables.scss';

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body {
  font-size: $font-size;
  background-color: #fff;
  font-family: Recursive, system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

a {
  color: $text-color;
  transition: color .3s ease-in-out;
  text-decoration: none;
  &:hover {
    color: $primary-color;
  }
}

#resume {
  width: $resume-width;
  margin: 0 auto;
  padding: 1.25rem;
  color: $text-color;
}

.base {
  text-align: center;
  &-name {
    font-size: 1.5rem;
    font-weight: bold;
    margin-bottom: .5rem;
  }

  &-social {
    display: flex;
    align-items: center;
    justify-content: center;
    &-item {
      display: inline-flex;
      align-items: center;
      .social-icon {
        margin-right: .25em;
      }
    }
    li {
      list-style: none;
      margin-right: 1.5rem;
      &:last-child {
        margin-right: 0;
      }
    }
  }
}

.social-icon {
  display: inline-block;
  width: 1.25em;
  height: 1.25em;
}

.exp {
  &-wrapper {
    display: flex;
    list-style: none;
    &:last-child {
      .exp-timeline {
        &::after {
          display: none;
        }
      }
    }
  }

  &-timeline {
    position: relative;
    flex-basis: 100px;
    display: flex;
    align-items: center;
    flex-direction: column;
    opacity: .6;

    &::after {
      content: '';
      position: absolute;
      left: 50%;
      bottom: 1em;
      display: block;
      border: 1px currentColor dashed;
      height: calc(100% - 4.5em);
      transform: translateX(-50%);
    }
  }

  &-content {
    padding-bottom: 2rem;
    margin-left: 2rem;
  }

  &-title {
    margin-bottom: .25em;
  }  

  &-subtitle {
    font-size: .875em;
    opacity: 0.6;
    margin-bottom: .75rem;
  }

  &-summary,
  &-highlights {
    padding: .25rem 0;
  }
  &-highlights {
    margin-left: 1em;
    > li {
      margin-bottom: .25em;
      &:last-child {
        margin-bottom: 0;
      }
    }
  }
}

.section {
  margin-bottom: 1.5rem;
  font-size: .875rem;
  &-title {
    position: relative;
    font-size: 1.5rem;
    font-weight: 500;
    letter-spacing: .1em;
    margin-bottom: 2.5rem;
    opacity: 0.6;
    &::after {
      content: '';
      position: absolute;
      top: 50%;
      right: 0;
      display: inline-block;
      width: calc(100% - 100px - 2rem);
      height: 2px;
      background-color: currentColor;
      vertical-align: middle;
      transform: translateY(-50%);
    }
  }
}


.pdf {
  &-view {
    position: fixed;
    right: 0;
    top: 0;
    display: none;
    align-items: center;
    font-size: 1.5em;
    padding: .25em;
    color: $text-color;
    background-color: #eee;
    cursor: pointer;
  }

  &-icon {
    width: 1.25em;
    height: 1.25em;
    color: #dc2626;
    margin-right: .25em;
  }
}

@media print {
  .pdf {
    &-view {
      display: none;
    }
  }
}

@media screen and (min-width: 1024px) {
  .pdf {
    &-view {
      display: inline-flex;
    }
  }
}
