@import './variables.scss';

*, *::before, *::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body {
  font-size: $font-size;
  line-height: $line-height;
  background-color: #fff;
  font-family: Nunito Sans, 'Noto Sans SC', system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

a {
  color: $text-color;
  transition: color .3s ease-in-out;
  text-decoration: none;
  &:hover {
    color: $primary-color;
  }
}

time {
  color: $text-secondary-color;
}

#resume {
  width: $resume-width;
  margin: 0 auto;
  padding: 1.25rem;
  color: $text-color;
}

.section-title {
  display: inline-block;
  padding: .125rem .5rem;
  margin-bottom: .75rem;
  color: white;
  font-size: 1rem;
  font-weight: 500;
  letter-spacing: .1em;
  background-color: $primary-color;
}

.name {
  font-size: 1.5rem;
  font-weight: bold;
  margin-bottom: .5rem;
}

.social {
  display: flex;
  align-items: center;
  justify-content: center;
}

.social-wrapper {
  display: inline-flex;
  align-items: center;
  list-style: none;
  margin-right: 1.5em;

  &:last-child {
    margin-right: 0;
  }
}

.social-icon {
  margin-right: .25em;
}

.base {
  text-align: center;
}

.icon {
  display: inline-block;
  width: 1.25em;
  height: 1.25em;
}

.container {
  margin-bottom: .75rem;
  font-size: .875rem;
}

.highlights {
  margin-left: 1.5em;

  &__wrapper {
    margin-bottom: .25em;
    list-style: circle;

    &:last-child {
      margin-bottom: 0;
    }
  }
}

.wrapper {
  margin-left: 1em;
  margin-bottom: .5em;
}

.wrapper-with-time {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.title {
  display: inline-block;
  font-size: 1rem;
}

.caption {
  color: rgba($color: $text-color, $alpha: .85);
  margin: .25em 0;
}

.summary {
  color: $text-color;
  margin: 0 0 .5em 0;
}

.link {
  position: relative;
  display: inline-block;
  border-bottom: 1px currentColor dashed;
  &:hover {
    border-bottom-style: solid;
  }
  &::after {
    content: '';
    display: inline-block;
    width: 1.5rem;
    height: 1.5rem;
    opacity: .75;
    vertical-align: top;
    background-repeat: no-repeat;
    background-position: center;
    background-image: url('data:image/svg+xml,<svg viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M15.6396 7.02527H12.0181V5.02527H19.0181V12.0253H17.0181V8.47528L12.1042 13.3892L10.6899 11.975L15.6396 7.02527Z" fill="currentColor" /><path d="M10.9819 6.97473H4.98193V18.9747H16.9819V12.9747H14.9819V16.9747H6.98193V8.97473H10.9819V6.97473Z" fill="currentColor" /></svg>');
  }
}

.stack {
  padding-left: .5rem;
  border-left: .25rem solid rgba($color: $primary-color, $alpha: .2);
  background-color: rgba($color: $primary-color, $alpha: .05);
}

footer.footer {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: .75rem;
}

.version-choice {
  &__url {
    line-height: 1.5;
    border-bottom: 1px $text-color dashed;
  }

  &__pdf-version {
    display: inline-block;
  }

  &__web-version {
    display: none;
  }
}

@media print {
  .version-choice {
    &__web-version {
      display: inline-block;
    }

    &__pdf-version {
      display: none;
    }
  }
}

.updated-at {
  display: inline-block;
  margin-right: 1em;
}


.mt2 {
  margin-top: .5rem;
}
